.CreatePostScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 600px;
    padding: 20px;
    position: relative;
    height: 450px;

    .CreatePostScreen__image-preview-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;

      .CreatePostScreen__image-preview {
        width: 100%;
        max-width: 90%;
        max-height: 90%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .CreatePostScreen__image-preview-absoluted {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    .CreatePostScreen__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .MuiAutocomplete-root {
        width: 100%;
      }

      .input-field {
        width: 100%;
        font-size: 1.2rem;
        margin-bottom: 20px;
      }
    }

    textarea,
    input {
      box-shadow: none !important;
    }
  }
}
