.profile__posts {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 20px;
}
