.feed__post {
  position: relative;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s,
    box-shadow 0.2s;

  flex-direction: column;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.feed__post__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.feed__post-title {
  margin-bottom: 10px;
}

.feed__post-content {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 40px; /* Add margin to the bottom to prevent hiding behind the button */
}

.feed__post-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.feed__post-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.feed__post-actions .MuiIconButton-root {
  font-size: 1.5rem; /* Increase the size of the icons */
  border-radius: 50%; /* Make the buttons circular */
  padding: 10px; /* Add padding for better spacing */
  transition:
    background-color 0.3s,
    transform 0.3s; /* Add transition for hover effects */

  &:hover {
    transform: scale(1.1); /* Slightly enlarge the button on hover */
  }
}

.feed__post-readmore {
  cursor: pointer;
  color: blue; /* Optional: Add color to make it look like a link */
  display: block; /* Ensure it appears on a new line */
  margin-top: 10px; /* Add some space above the text */
}
