.feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5px;
  padding-left: 5px;
  gap: 20px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 80px; /* Adjust this value based on your navbar height */
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add some space above the controls */
  grid-column: 1 / -1; /* Span across all columns to take a full row */
}
