.feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 80px; /* Adjust this value based on your navbar height */
}

.feed__post {
  position: relative;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s,
    box-shadow 0.2s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.feed__post-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.feed__post-content {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 40px; /* Add margin to the bottom to prevent hiding behind the button */
}

.feed__post-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.feed__post-actions {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.feed__post-actions .MuiIconButton-root {
  font-size: 1.5rem; /* Increase the size of the icons */
  border-radius: 50%; /* Make the buttons circular */
  padding: 10px; /* Add padding for better spacing */
  transition:
    background-color 0.3s,
    transform 0.3s; /* Add transition for hover effects */

  &:hover {
    transform: scale(1.1); /* Slightly enlarge the button on hover */
  }
}

.feed__post-readmore {
  cursor: pointer;
  color: blue; /* Optional: Add color to make it look like a link */
  display: block; /* Ensure it appears on a new line */
  margin-top: 10px; /* Add some space above the text */
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add some space above the controls */
  grid-column: 1 / -1; /* Span across all columns to take a full row */
}
