.feed__post-likes {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Add some space above the likes */
}

.feed__post-like {
  margin-right: 5px; /* Add some space between the button and the count */
}