.navbar {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  position: fixed;
  right: 0;
  height: 100%;
  z-index: 1000;
  margin: 0;
  width: 80px;
  flex-shrink: 0;
}

.navbar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

li.navbar__item {
  margin: 0;
}

.navbar__link {
  display: block;
  color: #1976d2;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

.navbar__link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1976d2;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navbar__link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar__link:hover {
  color: #1976d2; /* Match hover underline color */
  transform: scale(1.05);
}

.navbar__link--active {
  color: #1976d2;
  font-weight: bold; /* Make active links more prominent */
}

.navbar__link--active::before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar__brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
